
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}


.card {
  background: linear-gradient(145deg, #0f172a, #1e293b);
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 0.25s ease;
}

.card:hover {
  transform: translateY(-5px);
}


.alphabet-box {
  width: 100%;
  height: 140px;

  background: linear-gradient(135deg, #1e3a8a, #1d4ed8);
  border-radius: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
}


/* Stylish alphabet */

.alphabet {
  font-size: 90px;
  font-weight: 500;
  color: #f8fafc;
  letter-spacing: 5px;
  text-shadow: 0 6px 15px rgba(0,0,0,0.4);
}


.owners-title {
  color: #e2e8f0;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.owners {
    color: #e2e8f0;
  text-align: center;
  margin-bottom: 15px;
}

.owners p {
  margin: 4px 0;
  color: #94a3b8;
  font-size: 14px;
}


.cart-btn {
  margin-top: auto;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.cart-btn-red {
  margin-top: auto;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  background: #eb2525;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.cart-btn:hover {
  background: #1e40af;
  transform: scale(1.05);
}
